aiohttp==2.2.0
appdirs==1.4.4
asn1crypto==0.24.0
async-timeout==3.0.1
chardet==3.0.4
coloredlogs==14.0
cryptography==2.1.4
Cython==0.29.21
decorator==4.4.2
humanfriendly==8.2
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
multidict==4.7.6
networkx==2.5
ortools==7.8.7959
protobuf==3.13.0
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
rarfile==4.0
ruamel.yaml==0.16.0
ruamel.yaml.clib==0.2.2
SecretStorage==2.3.1
six==1.11.0
yarl==0.10.3
